@tailwind base;

@tailwind components;

@media (min-width: 768px) {
    body {
        font-size: 3.75rem;
        line-height: 2;
    }
    h1{
        font-size: 5rem;
        line-height: 2;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

#navbar{
    a{
        display: inline-block;
        text-decoration-style: wavy;
    }
    
    a::after{
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: #f0cf13;
        transition: 600ms;
    }
    
    a:hover::after{
        width: 100%;
    }
}

#logo {
    width: 50px;
   -moz-animation: scale 0.5s; /* Firefox */
   -webkit-animation: scale 0.5s; /* Safari and Chrome */
   -o-animation: scale 0.5s; /* Opera */
   animation: scale 0.5s;
}
@keyframes scale {
   from {
       width:100px;
       height: 100px;
    }
    to {
        width:50px;
        height: 50px;
    }
}
@-moz-keyframes scale { /* Firefox */
    from {
        width:100px;
        height: 100px;
    }
    to {
        width:50px;
        height: 50px;
    }
}
@-webkit-keyframes scale { /* Safari and Chrome */
    from {
        width:100px;
        height: 100px;
    }
    to {
        width:50px;
        height: 50px;
    }
}
@-o-keyframes scale { /* Opera */
    from {
        width:100px;
        height: 100px;
    }
    to {
        width:50px;
        height: 50px;
   }
}

#mobileNav{
    z-index: 1;

    li{
        display: block;
        padding-top: 70px;
    }
}

ul{
    li{
        padding: 10px;
    }
}

a{
    color: white;
}

@media (min-width: 768px) {
    #jobs {
        div {
            svg {
                margin-left: 200px;
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 1024px) {
    #jobs {
        div {
            svg {
                margin-left: 80px;
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {
        #rockOn{
            height: 800px;
        }
    }
}
@tailwind utilities;